In [2]:
#list  is homogeneous and heterogeneous (contain different data ) data types.
# #it accept data inside the square braces.
l=[3,45,"h"]

In [3]:
l

[3, 45, 'h']

In [4]:
type(l[0])

int

In [5]:
type(l)

list

In [6]:
s="pwskills"

In [7]:
l

[3, 45, 'h']

In [8]:
l.append(9)

In [9]:
l

[3, 45, 'h', 9]

In [10]:
l1=[5,9,0]

In [11]:
#append funtions are used for add element in last index of list
l.append(l1)

In [12]:
l

[3, 45, 'h', 9, [5, 9, 0]]

In [13]:
#insert function are used for add element in list to at specific index
l.insert(2,"shivam")

In [14]:
l

[3, 45, 'shivam', 'h', 9, [5, 9, 0]]

In [15]:
#extend function are used for add set of element(string,list&etc) in list. 
l.extend(1)
#not accept integer value

TypeError: 'int' object is not iterable

In [16]:
#extend function are used for add set of element(string,list&etc) in list. 
l.extend("kumar")

In [17]:
l

[3, 45, 'shivam', 'h', 9, [5, 9, 0], 'k', 'u', 'm', 'a', 'r']

In [18]:
l.extend([1,2,4,5])

In [19]:
l

[3, 45, 'shivam', 'h', 9, [5, 9, 0], 'k', 'u', 'm', 'a', 'r', 1, 2, 4, 5]

In [20]:
#pop functionos are used for remove element form the list.
#inside the pop funtion we pass the index for remove his index value
#& by default pop funtions are removed value of end index(-1) of the list. 
l.pop(5)

[5, 9, 0]

In [21]:
l

[3, 45, 'shivam', 'h', 9, 'k', 'u', 'm', 'a', 'r', 1, 2, 4, 5]

In [22]:
#remove funtion are use for remove the element form the list
#in side the remove funtions we pass the value for remove form the list.
l.remove('u')

In [23]:
l

[3, 45, 'shivam', 'h', 9, 'k', 'm', 'a', 'r', 1, 2, 4, 5]

In [24]:
#reverse  functions are used for reverse the list
l.reverse()

In [25]:
l

[5, 4, 2, 1, 'r', 'a', 'm', 'k', 9, 'h', 'shivam', 45, 3]

In [26]:
#tuple is data type , it contain homogenious & hetrogenious data inside the parenthesis().
t=(1,23,4,"sanskriti",[1,3,5,7,4],1,"shivam",6+7j)

In [27]:
t

(1, 23, 4, 'sanskriti', [1, 3, 5, 7, 4], 1, 'shivam', (6+7j))

In [28]:
#list is immutable & tuple are immutable.so we use tuple!
#tuple have two function(count & index)
type(t)

tuple

In [29]:
#count funtions are used for count the element repetation n the tuple.
t.count(1)

2

In [30]:
#index funcions are used for find the value of index.

t.index("sanskriti")

3

In [31]:
#set is contain immutable data type.it doesn't contain the list.
#set doesn't contain duplicate data type it remove the all duplicate data.
s1 ={ 1,2,5,"sanskriti","shivam",7+21j}

In [33]:
type(s1)

set

In [34]:
f1={1,2,3,1}

In [35]:
f1

{1, 2, 3}

In [36]:
#lis,t
l2= [1,23,456,7,1,3,4,3,4,5,7,67,5,6,8,8,"linkden","Linkden","linkden"]

In [37]:
l2

[1,
 23,
 456,
 7,
 1,
 3,
 4,
 3,
 4,
 5,
 7,
 67,
 5,
 6,
 8,
 8,
 'linkden',
 'Linkden',
 'linkden']

In [38]:
set(l2)

{1, 23, 3, 4, 456, 5, 6, 67, 7, 8, 'Linkden', 'linkden'}

In [39]:
d={}

In [40]:
type(d)

dict

In [41]:
#dictionary data type store value in key value pair inside the curly braces.
d1 = {'name': "shivam",'email': "shivammsd75@gmail.com"}

In [42]:
type(d1)

dict

In [43]:
d1['name']

'shivam'

In [44]:
d1['hobby']=["cricket","writting"]

In [45]:
d1

{'name': 'shivam',
 'email': 'shivammsd75@gmail.com',
 'hobby': ['cricket', 'writting']}

In [46]:
d1.keys()

dict_keys(['name', 'email', 'hobby'])

In [47]:
d1.values()

dict_values(['shivam', 'shivammsd75@gmail.com', ['cricket', 'writting']])

In [48]:
d1.items()

dict_items([('name', 'shivam'), ('email', 'shivammsd75@gmail.com'), ('hobby', ['cricket', 'writting'])])

In [49]:
list(d1.items())

[('name', 'shivam'),
 ('email', 'shivammsd75@gmail.com'),
 ('hobby', ['cricket', 'writting'])]

In [50]:
#pop funtions are used for the remove the element form the dictionary with pass the key .
d1.pop('email')

'shivammsd75@gmail.com'

In [51]:
d1

{'name': 'shivam', 'hobby': ['cricket', 'writting']}

In [52]:
d1.copy()

{'name': 'shivam', 'hobby': ['cricket', 'writting']}

In [53]:
d1

{'name': 'shivam', 'hobby': ['cricket', 'writting']}

In [54]:
5 == '5'

False

In [55]:
l=[1,2,4,6,4,6,8,5,9]
l1=[]
for i in l:
     #print(i+1)
     l1.append(i+1)

In [56]:
l1

[2, 3, 5, 7, 5, 7, 9, 6, 10]

In [57]:
l=["shivam","sanskriti","sanyam","connecto"]
l1=[]
for i in l:
    j=i.upper()
    l1.append(j)

In [58]:
l1

['SHIVAM', 'SANSKRITI', 'SANYAM', 'CONNECTO']

In [59]:
l=["dhoni","sachin","virat","bumrah","hardik"]
l1=[]
for i in l:
    print(i.capitalize())
    l1.append(i.upper())

Dhoni
Sachin
Virat
Bumrah
Hardik

In [60]:
l1

['DHONI', 'SACHIN', 'VIRAT', 'BUMRAH', 'HARDIK']

In [61]:
l=[1,23,53,4,5,7, "shivam",7,5,2,1,"sanskriti"]
l1=[]
l2=[]
for i in l:
    if type(i) == int or type(i) == float :
        l1.append(i)
    else:
        l2.append(i)

In [62]:
l1

[1, 23, 53, 4, 5, 7, 7, 5, 2, 1]

In [63]:
l2

['shivam', 'sanskriti']

In [64]:
print("today learning")

today learning