In [4]:
l=[2,3,4,2,4,3,5,5]

In [1]:
#for else funtion is a special funtions of python languge.
#in the function if for loop was correctely executed then else funtion wil be executed.  
l2=[]
for i in l:
    l2.append(i)
else:
    print(l2)
    print("name is correctely printed")

NameError: name 'l' is not defined

In [ ]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [ ]:
k=["shivam","sanskriti","sanyam","shunh"]

In [ ]:
list(range(len(k)))

[0, 1, 2, 3]

In [2]:
for i in range(len(k)):
    print(k[i])

NameError: name 'k' is not defined

In [3]:
len(k)

NameError: name 'k' is not defined

In [4]:
list(range(len(k)-1,-1,-1))

NameError: name 'k' is not defined

In [5]:
for i in range(len(k)-1,-1,-1):
    print(k[i])

NameError: name 'k' is not defined

FUNCTION

In [6]:
def test1():
    print("This is my first python funtion")

In [7]:
test1()

This is my first python funtion

In [8]:
def test2():
    return "this is my return"

In [9]:
test2()

'this is my return'

In [10]:
test2()+" by shivam"

'this is my return by shivam'

In [11]:
range(10)

range(0, 10)

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
g=({"shivam","sanyam","sanskriti","love"})

In [14]:
type(g)

set

In [23]:
h= b"dfghjk"

In [24]:
type(h)

bytes

In [25]:
h

b'dfghjk'

In [34]:
a="          shivamðŸ’›sanskriti        "

In [35]:
a.strip()

'shivamðŸ’›sanskriti'

In [36]:
a="eyenhol"

In [37]:
a.replace("ye","so")

'esonhol'

In [38]:
a.replace("h","s")

'eyensol'

In [39]:
type(a)

str

In [ ]:
6

In [3]:
a="     shivam       "

In [4]:
a.strip()

'shivam'

In [9]:
b="samsung"

In [11]:
b.replace("sam","pan")

'pansung'

In [15]:
c="shivam love by neature!"

In [20]:
print(c.split(","))

['shivam love by neature!']